<!DOCTYPE html>
<html>
  <head>
    <title>Z-Mobile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid main-wrapper">
      <div class="row">
        <div class="col">
          <div id="top_bar">
            <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-app-primary">
              <%= link_to "Z-Mobile", root_path, :class => 'navbar-brand'%>
            </nav>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="header" class="p-1">
            <div class="container">
              <div class="row text-center">
                <div class="col">
                  <h4>Handsets</h4>
                </div>
                <div class="col">
                  <h4>Prepay Options</h4>
                </div>
                <div class="col">
                  <h4>Subscriptions</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div id="secondary_navigation" class=" p-1 bg-app-primary h-100 text-light">
            <h4>Secondary Test</h4>
          </div>
        </div>
        <div class="col-10">
          <div id="main_content">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="row footer">
        <div class="col">
          <div id="footer" class="p-2 bg-app-secondary h-100 text-light">
            <p>Call center: +5692364734<br>Calle Camino 8374<br>Santiago<br>Chile</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
